.sq-w {
    background-color: ivory;
}

.sq-b {
    background-color: olive;
}

.sq {
    position: absolute;
    width: 12.5%;
    height: 12.5%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.sq span {
    position: absolute;
    left: 3px;
    bottom: 3px;
}

.sq-flipped-false.sq-row-1 { top: 87.5%; }
.sq-flipped-false.sq-row-2 { top: 75%; }
.sq-flipped-false.sq-row-3 { top: 62.5%; }
.sq-flipped-false.sq-row-4 { top: 50%; }
.sq-flipped-false.sq-row-5 { top: 37.5%; }
.sq-flipped-false.sq-row-6 { top: 25%; }
.sq-flipped-false.sq-row-7 { top: 12.5%; }
.sq-flipped-false.sq-row-8 { top: 0%; }

.sq-flipped-false.sq-file-h { left: 87.5%; }
.sq-flipped-false.sq-file-g { left: 75%; }
.sq-flipped-false.sq-file-f { left: 62.5%; }
.sq-flipped-false.sq-file-e { left: 50%; }
.sq-flipped-false.sq-file-d { left: 37.5%; }
.sq-flipped-false.sq-file-c { left: 25%; }
.sq-flipped-false.sq-file-b { left: 12.5%; }
.sq-flipped-false.sq-file-a { left: 0%; }


.sq-flipped-true.sq-row-0 { top: 0%; }
.sq-flipped-true.sq-row-2 { top: 12.5%; }
.sq-flipped-true.sq-row-3 { top: 25%; }
.sq-flipped-true.sq-row-4 { top: 37.5%; }
.sq-flipped-true.sq-row-5 { top: 50%; }
.sq-flipped-true.sq-row-6 { top: 62.5%; }
.sq-flipped-true.sq-row-7 { top: 75%; }
.sq-flipped-true.sq-row-8 { top: 87.5%; }

.sq-flipped-true.sq-file-h { left: 0%; }
.sq-flipped-true.sq-file-g { left: 12.5%; }
.sq-flipped-true.sq-file-f { left: 25%; }
.sq-flipped-true.sq-file-e { left: 37.5%; }
.sq-flipped-true.sq-file-d { left: 50%; }
.sq-flipped-true.sq-file-c { left: 62.5%; }
.sq-flipped-true.sq-file-b { left: 75%; }
.sq-flipped-true.sq-file-a { left: 87.5%; }

.sq-recentFrom-true {
    background-color: yellowgreen;
}
.sq-recentTo-true {
    background-color: yellow;
}

.sq-selected-true {
    background-color: aqua;
}

.sq-valid-true {
    background-color: coral;
}

.sq-premoveFrom-true {
    background-color: pink;
}
.sq-premoveTo-true {
    background-color: lightpink;
}
.sq-checkMarker-true {
    background-color: red;
}

.sq:hover {
    cursor: pointer;
}

.board-outer-wrapper {
    display: table;
    position: relative;
    margin: 50px;
}

.board-inner-wrapper {
    width: 700px;
    height: 700px;
    position: relative;
    float: left;
}

.board-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.board-gameover-wrapper-show {
    display: block;
}
.board-gameover-wrapper-hide {
    display: none;
}
.board-gameover-wrapper {
    position: absolute;
    left: 31.25%;
    top: 31.25%;
    width: 37.5%;
    height: 37.5%;
    background-color: green;
    z-index: 3;
    text-align: center;
}
.board-gameover-message {
    height: 200px;
    line-height: 200px;
}

.board-gameover-input-blocker-false {
    display: none;
}
.board-gameover-input-blocker-true {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.game-info-wrapper {
    float: left;
    height: 700px;
    width: 300px;
}

.gi-move-lists-wrapper {
    display: table;
    background-color: lightgray;
    border: 2px solid black;
}
.gi-moves-list-wrapper {
    float: left; 
    width: 100px;
}
.gi-moves-list {
    list-style: none;
    padding: 0;
    width: 100%;
}
.gi-move-number-wrapper {
    float: left;
    width: 50px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.gi-move-number-list {
    padding: 0;
    width: 100%;
    text-align: center;
}
.gi-move-number-list-item {
    border: 1px solid black;
}

.gi-move-lists-label {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


.gi-moves-list-item {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}