.home-page-wrapper-logged-out {
    text-align: center;
}

#form-picker-wrapper {
    display: inline-block;
    margin: 20px;
}

.form-wrapper {

}

.form-error-msg {
    color: red;
}

.form-wrapper-vis-true {
    display: inline-block;
}
.form-wrapper-vis-false {
    display: none;
}

.form-picker-button-wrapper {
    width: 100%;
}

.form-picker-button {
    width: 50%;
    height: 40px;
    font-size: 16pt;
}

.form-submit-button-wrapper {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.form-submit-button {
    width: 50%;
    height: 30px;
}

.form-picker-button-enabled-true {

}

.form-picker-button-enabled-false {
    
}