#login-form-wrapper {
    width: 500px;
    padding: 20px;
    border: black 1px solid;
    background-color: black;
}

.login-form-field-wrapper {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    border: none;
    border-bottom: 1px solid white;
}

.login-form-field-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.login-form-field-label {
    position: absolute;
    left: 0px;
    color: white;
    font-size: 12pt;
    transition: 0.5s;
}
.login-form-field-filled + .login-form-field-label{
    top: 10px;
    font-size: 10pt;
}
.login-form-field-empty + .login-form-field-label {
    top: 30px;
}
.login-form-field-wrapper:focus-within .login-form-field-label{
    top: 10px;
    font-size: 10pt;
}

#login-form-title {
    font-weight: bold;
}